package ${package.ServiceImpl};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.secdn.secdnrapid.common.utils.PageUtils;
import com.secdn.secdnrapid.common.utils.Query;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

import java.util.Map;

/**
 *   @description : ${entity} 服务实现类
 *   ---------------------------------
 * 	 @author ${author}
 *   @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Override
    public PageUtils queryPage(Map<String, Object> params) {
        IPage<${entity}> page = this.page(
                new Query<${entity}>(params).getPage(),
                new QueryWrapper<${entity}>()
        );

        return new PageUtils(page);
    }

}