package ${package.Service};

import com.secdn.secdnrapid.common.utils.PageInfo;
import com.secdn.secdnrapid.modules.business.dto.${entity}Dto;
import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *   @description : ${entity} 服务接口
 *   ---------------------------------
 * 	 @author ${author}
 *   @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    PageInfo queryPage(${entity}Dto params);
}

