<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secdn.secdnrapid.modules.business.mapper.BizTypeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.secdn.secdnrapid.modules.business.bean.BizType">
                    <id column="id" property="id" />
                    <result column="pid" property="pid" />
                    <result column="name" property="name" />
                    <result column="description" property="description" />
                    <result column="sort" property="sort" />
                    <result column="icon" property="icon" />
                    <result column="available" property="available" />
                    <result column="create_time" property="createTime" />
                    <result column="update_time" property="updateTime" />
                    <result column="url" property="url" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, pid, name, description, sort, icon, available, create_time, update_time, url
    </sql>

    <select id="selectPageWithParam" resultType="com.secdn.secdnrapid.modules.business.bean.BizType" parameterType="com.secdn.secdnrapid.modules.business.bean.BizType">
        select
            <include refid="Base_Column_List"/>
        from biz_type
    </select>

    <select id="selectOneByObj" resultType="com.secdn.secdnrapid.modules.business.bean.BizType" parameterType="java.lang.Long">
        select
            <include refid="Base_Column_List"/>
        from biz_type
        <where>
            id = #{id, jdbcType=VARCHAR}
        </where>
    </select>
</mapper>
